### Evaluation

There are 3 sets of configuration that are set.  One for the prediction (`c_p`), one for the  (`c_r`), one for the experiment(`c_e`). 

I've generated some fake predictions so that for the evaluation time period selected the results are initial 100% correct.

In [4]:
%reload_ext autoreload
%autoreload 2
#ignore warnings.
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

In [5]:
#Set config. 
import sys, datetime, os, importlib
from pathlib import Path
import pandas as pd
pd.set_option('display.max_columns', 9999)
sys.path.append(os.path.join(Path.cwd().parent, 'modules'))
import evaluation as ev
importlib.reload(ev)
#These are configuration prediction files
c_p={'dir': '../data/predictions/tests/',
         'file': 'tests_75_shift0.csv',
         'per_col': 'person_id',
         'date_col': 'yyyymm',
         'date_for': '%Y%m'
        }
#These are configuration referral files
c_r={ 'dir': '../data/referrals/',
         'file': 'test.csv',
         'per_col': 'person_id',
         'date_col_in': 'date',
         'date_for_in': '%m/%d/%Y',
         'date_col_out': 'yyyymm', 
         'date_for_out': '%Y%m', 
         'reason_col': 'class'
        }
#These are configuration for the experiment
c_e={    'experiment': 'Initial Tests',
         'dir': '../results/',
         'file': 'results.csv',
         'save':  True,
         'append': False,
         'thresholds': [0.5, 0.6],
         'k': [5, 10], #k is used the set the conversion from prob to class prediction
         'landmarks': [[0,3], [0,6], [0,12]],
         'ref_target': 'ref',
         'pred_target': 'pref',
         'eval_date': pd.to_datetime(datetime.date(2017,1,1))
        }

In [68]:
#playground

#preprocess function TEST and documented

import numpy as np

ref=pd.read_csv(c_r['dir']+c_r['file'])

ref['datetime']=pd.to_datetime(ref[c_r['date_col_in']], format= c_r['date_for_in'])
ref[c_r['date_col_out']]=ref['datetime'].dt.strftime(c_r['date_for_out']).astype(int)

trans=ref[c_r['reason_col']].unique()
translate=dict(zip(ref[c_r['reason_col']].unique(),[x for x in range(1,len(trans)+1)]))

ref=ref.loc[:,[c_r['per_col'],c_r['date_col_out'], c_r['reason_col'],'datetime']]

ref['label']=ref[c_r['reason_col']].map(lambda x: translate[x])
lab_dum=pd.get_dummies(ref['label'],prefix='lab')
ref = pd.concat([ref, lab_dum], axis=1)

ref = pd.pivot_table(ref, values=lab_dum.columns, index=[c_r['per_col'],c_r['date_col_out']], aggfunc=np.sum)
ref['ref']=1

drop_duplicates = True
if drop_duplicates==True:
    cols=list(ref.columns[ref.columns.str[0:len('lab_')]=='lab_'])
    for c in cols:
        ref[c]=ref[c].map(lambda z: 1 if z>=1 else 0)

#reset the index
ref.reset_index(inplace=True)
ref

    person_id  yyyymm  lab_1  lab_2  lab_3  ref
0        1005  201701      1      0      0    1
1        1006  201702      0      1      0    1
2        1007  201702      0      1      0    1
3        1007  201706      0      1      0    1
4        2000  201710      0      0      1    1
5        2001  201710      0      0      1    1
6        3000  201701      1      0      0    1
7        3001  201701      0      1      0    1
8        3002  201702      0      1      0    1
9        3003  201703      0      1      0    1
10       3004  201704      0      1      0    1
11       3005  201705      0      1      0    1
12       3006  201706      0      1      0    1
13       3007  201707      0      1      0    1
14       3008  201708      0      1      0    1
15       3009  201709      0      1      0    1
16       3010  201710      0      1      0    1
17       3011  201711      0      1      0    1
18       3012  201712      0      1      0    1
19       3013  201801      0      1      0    1
20       3014  201802      0      1      0    1
21       3015  201701      0      1      0    1

In [6]:
#generate fake datasets. This will take a while.  Generate a number of face datasets with the truth "shifted" to various degrees. 
#

importlib.reload(ev)
numberofpatients=100
startedate='2016-01-01'
enddate='2018-01-01'
ev.generate_test_prediction_files(c_p, c_r, numberofpatients, startedate, enddate)

shift-12
Saving dataframe.  Records: 2500 Patients 100
shift-6
Saving dataframe.  Records: 2500 Patients 100
shift0
Saving dataframe.  Records: 2500 Patients 100
shift6
Saving dataframe.  Records: 2500 Patients 100
shift12
Saving dataframe.  Records: 2500 Patients 100

In [14]:
#This is the truth 
ref=pd.read_csv(c_r['dir']+c_r['file'])
ref

    person_id       date     class
0        3000   1/1/2017  diabetes
1        3001   1/2/2017     liver
2        3002   2/2/2017     liver
3        3003   3/2/2017     liver
4        3004   4/2/2017     liver
5        3005   5/3/2017     liver
6        3006   6/3/2017     liver
7        3007   7/4/2017     liver
8        3008   8/4/2017     liver
9        3009   9/4/2017     liver
10       3010  10/5/2017     liver
11       3011  11/5/2017     liver
12       3012  12/6/2017     liver
13       3013   1/6/2018     liver
14       3014   2/6/2018     liver
15       3015   1/1/2017     liver
16       1005   1/2/2017  diabetes
17       1006   2/1/2017     liver
18       1007   2/1/2017     liver
19       1007   6/2/2017     liver
20       2000  10/1/2017  pnemonia
21       2001  10/1/2017  pnemonia

In [15]:
#The above referrals are preprocessed. 
ref, trans = ev.preprocess_referrals(c_r)
print("the label encoding is:", trans)
ref

the label encoding is: {'diabetes': 1, 'liver': 2, 'pnemonia': 3}

    person_id  yyyymm  lab_1  lab_2  lab_3  ref
0        1005  201701      1      0      0    1
1        1006  201702      0      1      0    1
2        1007  201702      0      1      0    1
3        1007  201706      0      1      0    1
4        2000  201710      0      0      1    1
5        2001  201710      0      0      1    1
6        3000  201701      1      0      0    1
7        3001  201701      0      1      0    1
8        3002  201702      0      1      0    1
9        3003  201703      0      1      0    1
10       3004  201704      0      1      0    1
11       3005  201705      0      1      0    1
12       3006  201706      0      1      0    1
13       3007  201707      0      1      0    1
14       3008  201708      0      1      0    1
15       3009  201709      0      1      0    1
16       3010  201710      0      1      0    1
17       3011  201711      0      1      0    1
18       3012  201712      0      1      0    1
19       3013  201801      0      1      0    1
20       3014  201802      0      1      0    1
21       3015  201701      0      1      0    1

In [11]:
#These are the predictions. 
pred=pd.read_csv(c_p['dir']+c_p['file'])

pred

        person_id  yyyymm  pref  plab_1  plab_2  plab_3
0             0.0  201601   0.0     0.0     0.0     0.0
1             0.0  201602   0.0     0.0     0.0     0.0
2             0.0  201603   0.0     0.0     0.0     0.0
3             0.0  201604   0.0     0.0     0.0     0.0
4             0.0  201605   0.0     0.0     0.0     0.0
...           ...     ...   ...     ...     ...     ...
249995     9999.0  201709   0.0     0.0     0.0     0.0
249996     9999.0  201710   0.0     0.0     0.0     0.0
249997     9999.0  201711   0.0     0.0     0.0     0.0
249998     9999.0  201712   0.0     0.0     0.0     0.0
249999     9999.0  201801   0.0     0.0     0.0     0.0

[250000 rows x 6 columns]

## Run One Evaluation
This runs one evaluation at the time in the config.

In [17]:
#This runs the evaluation at the time set in the config.
importlib.reload(ev)
results = ev.score_times(c_p, c_r, c_e)
results

Loading reference dataframe.. test.csv
Loading predictions dataframe.. tests_75_shift0.csv
Shape of referrals dataframe: (25000000, 6)
Shape of referrals dataframe: (1000000, 3)
Splitting dataset for evaluation at 2017-04-01 00:00:00 Evaluating from: 201704-201707
Examining Columns Slice: DatetimeIndex(['2017-04-01', '2017-05-01', '2017-06-01', '2017-07-01'], dtype='datetime64[ns]', name='datetime', freq=None)
Splitting dataset for evaluation at 2017-04-01 00:00:00 Evaluating from: 201704-201710
Examining Columns Slice: DatetimeIndex(['2017-04-01', '2017-05-01', '2017-06-01', '2017-07-01',
               '2017-08-01', '2017-09-01', '2017-10-01'],
              dtype='datetime64[ns]', name='datetime', freq=None)
Splitting dataset for evaluation at 2017-04-01 00:00:00 Evaluating from: 201704-201804
Examining Columns Slice: DatetimeIndex(['2017-04-01', '2017-05-01', '2017-06-01', '2017-07-01',
               '2017-08-01', '2017-09-01', '2017-10-01', '2017-11-01',
               '2017-12-01', '2018-01-01', '2018-02-01'],
              dtype='datetime64[ns]', name='datetime', freq=None)

,experiment,start_time,pred_dir,pred_file,n,range,log_loss,roc_auc_score,precision_ref_@k=5,recall_ref_@k=5,accuracy_ref_@k=5,balanced_accuracy_ref_@k=5,f1_ref_@k=5,precision_ref_@k=10,recall_ref_@k=10,accuracy_ref_@k=10,balanced_accuracy_ref_@k=10,f1_ref_@k=10,precision_ref_p>0.5,recall_ref_p>0.5,accuracy_ref_p>0.5,balanced_accuracy_ref_p>0.5,f1_ref_p>0.5,precision_ref_p>0.6,recall_ref_p>0.6,accuracy_ref_p>0.6,balanced_accuracy_ref_p>0.6,f1_ref_p>0.6,end_time,elapsed_time
0,Initial Tests,2020-05-01 14:43:36.041108,../data/predictions/tests/,tests_75_shift0.csv,1000000.0,201704-201707,0.000138,0.600000,0.2,0.200000,0.999992,0.599998,0.200000,0.1,0.200000,0.999987,0.599995,0.133333,1.0,0.200000,0.999996,0.600000,0.333333,1.0,0.200000,0.999996,0.600000,0.333333,2020-05-01 14:43:46.198324,00:00:10.157216
1,Initial Tests,2020-05-01 14:43:46.588685,../data/predictions/tests/,tests_75_shift0.csv,1000000.0,201704-201710,0.000311,0.550000,0.2,0.100000,0.999987,0.549998,0.133333,0.1,0.100000,0.999982,0.549995,0.100000,1.0,0.100000,0.999991,0.550000,0.181818,1.0,0.100000,0.999991,0.550000,0.181818,2020-05-01 14:43:56.660249,00:00:10.071564
2,Initial Tests,2020-05-01 14:43:57.027160,../data/predictions/tests/,tests_75_shift0.csv,1000000.0,201704-201804,0.000449,0.535714,0.2,0.071429,0.999983,0.535712,0.105263,0.1,0.071429,0.999978,0.535710,0.083333,1.0,0.071429,0.999987,0.535714,0.133333,1.0,0.071429,0.999987,0.535714,0.133333,2020-05-01 14:44:07.136601,00:00:10.109441

# Multiple different evaluations
This is an example of multiple different evaluations. This evaluates a bunch of files where the predictions have been shifted.

In [ ]:
importlib.reload(ev)
c_e['experiment']='All Tests'
c_e['append']= True
c_e['file']= 'all_results.csv'

pred_files = [f for f in os.listdir(c_p['dir']) if os.path.isfile(os.path.join(c_p['dir'], f))]

for file in pred_files:
    c_p['file']=file
    results = ev.score_times(c_p, c_r, c_e)

In [ ]:
#read in the full results
results=pd.read_csv(c_e['dir']+c_e['file'])
results